[Unit]
Description=Lets Encrypt certificate renewal
[Service]
Type=oneshot
RemainAfterExit=false
TimeoutSec=15m
WorkingDirectory=/usr/lib/unifi/data/unifi-lego
ExecStart=/usr/lib/unifi/data/unifi-lego/unifi-lego.sh renew
